# Environment & secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.conda/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.suo

# OS
.DS_Store
Thumbs.db

# Large files not needed in repo
*.pdf

# Logs
*.log
